[package]
name = "imgui-dx9-renderer"
version = "0.3.0"
authors = ["Lukas Wirth <lukastw97@gmail.com>"]
edition = "2018"
description = "DirectX 9 renderer for the imgui crate"
homepage = "https://github.com/Veykril/imgui-dx9-renderer"
repository = "https://github.com/Veykril/imgui-dx9-renderer"
license = "MIT"
readme = "README.md"
categories = ["gui", "rendering"]

[dependencies]
winapi = { version = "^0.3", features = ["d3d9", "d3d9types", "windef"] }
imgui = "0.1.0"

[dev-dependencies]
imgui-winit-support = "0.1"
winit = "^0.19"

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"